---
// Assets
import { Image } from "astro:assets";
import Team from "@/images/assets/team.jpeg";
import Shape1 from "@/components/assets/Shape1.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import CtaWork from "@/components/ctas/CtaWork.astro";
import TeamCard from "@/components/team/TeamCard.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("team");
const avatarsSlider = [
  {
    src: "https://riflesso.lexingtonthemes.com/avatars/1.png",
    alt: "Your alt",
  },
  {
    src: "https://riflesso.lexingtonthemes.com/avatars/2.png",
    alt: "Your alt",
  },
  {
    src: "https://riflesso.lexingtonthemes.com/avatars/3.png",
    alt: "Your alt",
  },
  {
    src: "https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    alt: "Your alt",
  },
  {
    src: "https://images.unsplash.com/photo-1546458904-143d1674858d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80",
    alt: "Your alt",
  },
  {
    src: "https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    alt: "Your alt",
  },
];
---

<BaseLayout>
  <section class="bg-white overflow-hidden relative">
    <Wrapper variant="standard" class="py-12 lg:pt-24">
      <div class="grid items-start grid-cols-1 gap-4 lg:grid-cols-3">
        <div
          class="w-full bg-accent-500 p-10 lg:p-16 h-full rounded-2xl flex flex-col justify-between"
        >
          <Shape1 class="size-12 md:size-24 text-accent-200" />
          <div>
            <Text
              tag="h1"
              variant="displayMD"
              class="mt-12 tracking-tighter text-white"
            >
              We speak 8 languages and live in 10 countries.
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="font-medium text-accent-100"
            >
              Our meticulous interactions, delightful wordplay, and beautiful
              experiences come together across the globe. Remote, but together.
            </Text>
          </div>
        </div>
        <Image
          src={Team}
          width={1200}
          height={630}
          alt="#_"
          class="aspect-[4/4] object-cover rounded-2xl h-full lg:col-span-2 w-full lg:order-first"
        />
      </div>
    </Wrapper>
  </section>
  <section class="bg-white overflow-hidden relative">
    <Wrapper variant="standard" class="pt-6 pb-24">
      <div class="grid lg:grid-cols-2 gap-12 items-start">
        <div>
          <div class="relative max-w-xs">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-accent-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-white pr-2 text-sm text-accent-500 font-medium"
                >Part of the team</span
              >
            </div>
          </div>
          <Text
            tag="h2"
            variant="displayLG"
            class="tracking-tighter text-accent-800 text-balance mt-12"
          >
            Meet our team of designers, engeneers, and researchers.
          </Text>
          <Text
            tag="p"
            variant="textXL"
            class="text-accent-500 mt-8 text-balance"
          >
            Intern to Impact brings together thoughtful strategists who help
            women build careers with polish and purpose.
          </Text>
        </div>
        <div
          class="grid md:grid-cols-2 lg:grid-cols-1 justify-between h-full gap-4"
        >
          {allPosts.map((post) => <TeamCard post={post} />)}
        </div>
      </div>

      <div
        class="items-center relative animate-marquee flex whitespace-nowrap mt-12"
      >
        {
          // Concatenate the avatars array with itself multiple times (e.g., 20 times)
          Array.from({ length: 20 })
            .flatMap(() => avatarsSlider)
            .map((avatar) => (
              <img src={avatar.src} alt={avatar.alt} class="max-h-96" />
            ))
        }
      </div>
    </Wrapper>
  </section>
  <CtaWork />
</BaseLayout>
