---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard2 from "@/components/blog/BlogCard2.astro";
// Content
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
---

<section class="bg-base-100 overflow-hidden relative border-t border-base-200">
  <Wrapper variant="standard" class="py-24 relative">
    <div class="w-full max-w-xl">
      <Text
        tag="h2"
        variant="displayMD"
        class="tracking-tight text-base-900 text-balance"
      >
        Latest from the blog
      </Text>
      <Text tag="p" variant="textBase" class="text-base-600 mt-6 text-pretty">
        Guides, templates, and story time — written for people figuring out
        internships and first jobs without a built-in network.
      </Text>
      <div class="flex mt-8">
        <Button isLink size="base" variant="muted" href="/blog">
          All posts
        </Button>
      </div>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-x-12 gap-y-16 mt-16">
      {allPosts.slice(0, 4).map((post) => <BlogCard2 post={post} />)}
    </div>
  </Wrapper>
</section>
