---
// Assets
import Shape1 from "@/components/assets/Shape3.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard2 from "@/components/blog/BlogCard2.astro";
// Content
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
---

<section class="bg-accent-50 overflow-hidden relative">
  <Shape1
    class="absolute w-full h-full opacity-[0.2] z-0 -left-64 sm:-left-96 -bottom-72 rotate-45 text-accent-500"
  />
  <Wrapper variant="standard" class="py-24 relative">
    <div class="w-full max-w-xl">
      <div class="relative max-w-xs">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-accent-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="bg-accent-50 pr-2 text-sm text-accent-500 font-medium"
            >Latest articles</span
          >
        </div>
      </div>
      <Text
        tag="h2"
        variant="displayMD"
        class="tracking-tighter text-accent-800 text-balance mt-12"
      >
        From the blog
      </Text>
      <Text tag="p" variant="textXL" class="text-accent-500 mt-8 text-balance">
        Our latest articles are a testament to our expertise and dedication to
        crafting unique and engaging content.
      </Text>
      <div class="flex mt-8">
        <Button isLink size="base" variant="muted" href="/blog">
          Read all our articles
        </Button>
      </div>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-x-12 gap-y-24 mt-24">
      {allPosts.slice(0, 2).map((post) => <BlogCard2 post={post} />)}
    </div>
  </Wrapper>
</section>
