---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const pages = [
  {
    title: "Static",
    categories: [
      {
        name: "Pages",
        links: [
          { href: "/", text: "Home" },
          { href: "/legal/about", text: "About us" },
          { href: "/404", text: "Error 404" },
        ],
      },

      {
        name: "Pricing",
        links: [
          { href: "/pricing-simple", text: "Simple" },
          { href: "/pricing-full", text: "Table" },
        ],
      },

      {
        name: "Forms",
        links: [{ href: "/contact", text: "Contact" }],
      },
      {
        name: "System",
        links: [
          { href: "/system/colors", text: "Colors" },
          { href: "/system/typography", text: "Typography" },
          { href: "/system/links", text: "Links" },
          { href: "/system/buttons", text: "Buttons" },
          {
            href: "https://lexingtonthemes.com/legal/license",
            text: "License",
          },
          {
            href: "https://lexingtonthemes.com/legal/support/",
            text: "Support",
          },
          {
            href: "https://lexingtonthemes.com/documentation/quick-start",
            text: "Documentation",
          },
        ],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        name: "Blog",
        links: [
          { href: "/blog", text: "Home" },
          { href: "/blog/posts/1", text: "Details" },
          { href: "/blog/tags", text: "Tag index" },
          { href: "/blog/tags/astro", text: "Tag category" },
          { href: "/rss.xml", text: "RSS" },
        ],
      },
      {
        name: "Work",
        links: [
          { href: "/work", text: "Home" },
          { href: "/work/1", text: "Details" },
        ],
      },
      {
        name: "Services",
        links: [
          { href: "/services", text: "Home" },
          { href: "/services/web-develpment", text: "Details" },
        ],
      },
      {
        name: "Team",
        links: [
          { href: "/team", text: "Home" },
          { href: "/team/1", text: "Details" },
        ],
      },
      {
        name: "Legal",
        links: [{ href: "/legal/terms", text: "Details" }],
      },
    ],
  },
];
---

<BaseLayout>
  <section class="bg-white overflow-hidden relative">
    <Wrapper variant="standard" class="py-12 lg:pt-24">
      <Text
        tag="h1"
        variant="displayLG"
        class="tracking-tighter text-accent-800 text-balance"
      >
        Overview
      </Text>
      <div class="mt-12 grid grid-cols-1 md:grid-cols-2">
        {
          pages.map((section) => (
            <div>
              <div class="relative max-w-xs">
                <div
                  class="absolute inset-0 flex items-center"
                  aria-hidden="true"
                >
                  <div class="w-full border-t border-accent-300" />
                </div>
                <div class="relative flex justify-start">
                  <span class="bg-white pr-2 text-sm text-accent-500 font-medium">
                    {section.title}
                  </span>
                </div>
              </div>
              <div class="mt-12 gap-y-12 gap-x-6 grid grid-cols-2 xl:grid-cols-3 ">
                {section.categories.map((category) => (
                  <div class="flex flex-col gap-4 ">
                    <Text
                      tag="h3"
                      variant="textXL"
                      class=" tracking-tight   text-accent-800 "
                    >
                      {category.name}
                    </Text>
                    <ul role="list" class="grid grid-cols-1    ">
                      {category.links.map((link) => (
                        <li>
                          <a
                            href={link.href}
                            class="text-accent-500 text-lg mt-8  hover:text-accent-600 duration-200"
                          >
                            {link.text}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
