---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="bg-accent-500">
  <Wrapper variant="standard" class="py-24">
    <div class="flex flex-col flex-shrink-0 gap-8 md:gap-12 max-w-xl">
      <div>
        <div class="relative max-w-xs">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-accent-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-accent-500 pr-2 text-sm text-white font-medium"
              >Subscribe</span
            >
          </div>
        </div>
        <Text
          tag="h1"
          variant="displayLG"
          class="tracking-tight text-white mt-12 text-balance"
        >
          Subscribe to our newsletter to stay up to date with our latest work,
          projects, and more
        </Text>
        <Text tag="p" variant="textXL" class="text-accent-100 mt-8 text-pretty">
          Every thursday at 14.00 we will send you a newsletter with the latest
          and greatest articles from our blog, as well as our latest work,
          projects, and more
        </Text>
      </div>
      <form class="mt-12 w-full">
        <div class="flex flex-col gap-2">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="min-w-0 flex-auto rounded-md border-0 h-12 duration-300 px-3.5 py-2 text-accent-900 ring-1 ring-inset ring-white placeholder:text-accent-400 focus:ring-2 focus:ring-inset focus:ring-accent-600"
            placeholder="Enter your email"
          />

          <Button type="submit" size="lg" variant="muted"> Subscribe </Button>
        </div>
      </form>
    </div>
  </Wrapper>
</section>
