---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import StartHere from "@/components/landing/StartHere.astro";
import BlogPreview from "@/components/landing/BlogPreview.astro";
import AboutStrip from "@/components/landing/AboutStrip.astro";
---

<BaseLayout>
  <Hero />
  <div id="start-here">
    <StartHere />
  </div>
  <BlogPreview />
  <AboutStrip />
</BaseLayout>
