<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Intern to Impact</title>
<meta
  name="description"
  content="Career coaching and personal branding for women going from intern to impact."
/>
<meta
  name="keywords"
  content="career coaching, personal branding, intern, professional development"
/>
<meta name="author" content="Intern to Impact" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#FAF7F0" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
