---
// Fundations
import "@/styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
// Components
import Footer from "@/components/global/Footer.astro";
import Navigation from "@/components/global/navigation/Navigation.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body
    class="bg-base-100 lg:p-10 lg:pb-0 mx-auto relative overflow-x-hidden"
  >
    <div class="flex flex-col min-h-dvh xl:max-w-[100rem] mx-auto">
      <Navigation />

      <main class="grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
