---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Asssets
import { Image } from "astro:assets";
import One from "@/images/brands/1.svg";
import Two from "@/images/brands/2.svg";
import Three from "@/images/brands/3.svg";
import Four from "@/images/brands/4.svg";

const logos = [
  { src: One, alt: "#_" },
  { src: Two, alt: "#_" },
  { src: Three, alt: "#_" },
  {
    src: Four,
    alt: "#_",
    classes: "hidden sm:block",
  },
];
---

<section class="bg-white overflow-hidden relative">
  <Wrapper variant="standard" class="py-12">
    <div
      class="grid grid-cols-1 gap-12 items-center lg:grid-cols-4 md:grid-cols-2"
    >
      <div class="col-span-full lg:col-span-1 lg:max-w-none lg:mr-auto mx-auto">
        <Text tag="h3" variant="textSM" class="text-accent-500 text-balance">
          Some of the mazing companies we have worked with
        </Text>
      </div>
      <div class="md:col-span-3">
        <div class="flex flex-wrap justify-between">
          {
            logos.map((logo) => (
              <Image
                width={80}
                height={80}
                alt={logo.alt}
                class={`h-8 ${logo.classes || ""}`}
                src={logo.src}
              />
            ))
          }
        </div>
      </div>
    </div>
  </Wrapper>
</section>
